[user]
    name = Michael N. Rowsey
    email = mike@rowsey.org

[init]
    defaultBranch = main

[core]
    editor = nvim
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = less -FRSX

[color]
    ui = auto

[pull]
    rebase = false

[fetch]
    prune = true

[push]
    default = simple

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff
    conflictstyle = zdiff3

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
